/docs
/lib
/vendor
.*
!.env.dist
!.gitignore
!.php-cs-fixer.php
composer.lock
/nbproject/private/
/debian/php-spojenet-kb-accountsapi/
/nbproject/
/debian/php-spojenet-kb-accountsapi.debhelper.log
/debian/php-spojenet-kb-accountsapi.substvars
/debian/debhelper-build-stamp
